<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>       
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_test</property>
		<property name="hibernate.connection.username">test</property>
		<property name="hibernate.connection.password">Passw0rd</property>
	<property name="show_sql">true</property>
	<property name="format_sql">true</property>
	<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
     
    <mapping class="zyang.HibernateOne2ManyAnnotation.entity.Category"/>
    <mapping class="zyang.HibernateOne2ManyAnnotation.entity.Product"/>
       
  </session-factory>
</hibernate-configuration>